body {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 200px;
}

.result {
    gap: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 1px solid #444;
}